/* THEME:

                        '#1A4753',
                        '#FFFFFF',
                        '#00A8E5',
                        '#000505',
                        '#A5FFFF',
                        */

body {
    background: rgb(0, 5, 5);
    background: linear-gradient(
        60deg,
        rgba(0, 5, 5, 1) 0%,
        rgba(26, 71, 83, 1) 63%,
        rgba(0, 168, 229, 1) 100%
    );
    color: white;
    // does below just come from material style?
    font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
        Arial, 'Lucida Grande', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.full-page-flex {
    height: 3rem;
    position: absolute;
    top: 40%;
    width: 100%;

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
